<%- include("includes/head.ejs") %>


  <body>
    <h1>EJS Template</h1>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit.
      Velit,
      incidunt delectus hic unde labore repudiandae nesciunt soluta
      reiciendis quae cupiditate non deserunt debitis facere est
      molestiae nulla asperiores magnam explicabo!
      Tenetur voluptate excepturi consequatur nisi quaerat perferendis
      impedit nihil blanditiis, cupiditate inventore placeat? Dolorum
      enim eveniet repudiandae a quae rem dolor ut culpa, voluptas,
      recusandae molestias, aliquid pariatur officiis provident.</p>
    <button>click me!</button>
    <%- include("includes/footer.ejs") %>
  </body>

  </html>